.planSelect{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
  flex-direction: row;
  gap: 8px;
}

.planSelectItem{
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  overflow: hidden;
}

.planSelectItemHeader{
  border-radius: 4px;
  background: var(--ui-theme-card-background, #4976BA);
  color: var(--ui-theme-card-color, #fff);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.planSelectItemContent{
  padding: 16px;
  background-color: #EDF1F8;
}

.planTitle{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px; /* 120.833% */
  letter-spacing: -0.009px;
}

.planPrice{
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 116.667% */
  letter-spacing: -0.01px;
}

.planDescription{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02px;
}